//////////////////////////////////////////////////////////////////////////////////////

const express=require('express')
const route=express.Router()

//////////////////////////////////////////////////////////////////////////////////////

module.exports=route

//////////////////////////////////////////////////////////////////////////////////////

route.get('/', (req, res) => {
    res.send("<h1>Práctica JWT</h1>");
})


route.get('/api', (req, res) => {

    res.status(200).json({
        posts: [
            {
                id: 0,
                title: "Primer post",
                username: 'Pepe'
            },
            {
                id: 1,
                title: "Segundo post",
                username: 'Ana'
            }
        ]
    })

})

